In this notebook, we will introduce dictionaries, tuples and lists.

## Dictionaries

- One of the built-in data types in Python is dictionary. 
- Dictionaries define one-to-one relationships between keys and values.
- Dictionary type also known as hash type in other languages.

In [22]:
d = {"server":"tabutcu", "database": "master"}
d

{'database': 'master', 'server': 'tabutcu'}

In [23]:
d["server"]

'tabutcu'

In [24]:
d["database"]

'master'

In [25]:
d["tabutcu"]

KeyError: 'tabutcu'

- First we created a dictionary with two elements, and we assigned it to the variable d. Each element is a key-value pair. The whole set of elements are enclosed in curly braces.

- "server" is a key and its associated value, referenced by d["server"], is "tabutcu"

- "database" is a key and its associated value, referenced by d["database"], is "master

- In the last line, we examine that values can be accessed with keys, but keys cannot be accessed with values. d["tabutcu"] raises an exception, because "tabutcu" is not a key.

### Modifying Dictionaries

In [ ]:
d

In [ ]:
d["database"] = "prod"

In [ ]:
d["uid"] = "sa"

In [ ]:
d

- Since we cannot create duplicate values with dictionaries, assigning a value to an existing key will override the old value.
- New key-valu pairs can be added anytime. The sytanx is identical to modifying a current key. 
- Dictionaries have no order among elements. The elements are unordered. 
- Dictionary keys are case sensitive

In [ ]:
d = {}
d["key"] = "value"
d["Key"] = "another value"

In [ ]:
d

** Because strings are case sensitive in Python, "key" is not same as "Key". **

### Mixing Data Types

In [26]:
d

{'database': 'master', 'server': 'tabutcu'}

In [27]:
d["retryCount"] = 5

In [28]:
d[42] = "douglas"

In [29]:
d

{42: 'douglas', 'database': 'master', 'retryCount': 5, 'server': 'tabutcu'}

- Dictionary values can be any type, including strings, integers, object or even another dictionaries. 
- Different type of values can exist in a same dictionary
- Dictionary keys can be strings, integers and a few other data types. They are a bit more strict than values.

### Deleting Items from Dictionaries

In [30]:
d

{42: 'douglas', 'database': 'master', 'retryCount': 5, 'server': 'tabutcu'}

In [31]:
del d[42]

In [32]:
d

{'database': 'master', 'retryCount': 5, 'server': 'tabutcu'}

In [33]:
d.clear()

In [34]:
d

{}

- del deletes individual items from a dictionary by key
- clear() deletes all the elements in a dictionary.

### Further Readings on Dictionaries

- How to Think Like a Computer Scientist: http://www.greenteapress.com/thinkpython/thinkCSpy/html/chap10.html
- Python Cookbook: http://code.activestate.com/recipes/52306/

## Lists

- A list in Python is much more than an array in Java (although it can be used as one).
- A better analogy would be ArrayList class, which can expand dynamically and hold arbitrary objects

### Defining Lists

In [35]:
lst = ["a", "b", "tabutcu", "z", "example"]

In [36]:
lst

['a', 'b', 'tabutcu', 'z', 'example']

In [37]:
lst[0]

'a'

In [38]:
lst[2]

'tabutcu'

- First we defined a list with 5 elements.
- Since a list is an ordered set of elements, elements retain their original order.
- Lists can be used like zero-based arrays. lst[0] returns the first element in the non-empty list. 
- In this case the last element in the list is lst[4], because lists are always zero-based.

### Negative List Indices

In [39]:
lst

['a', 'b', 'tabutcu', 'z', 'example']

In [40]:
lst[-1]

'example'

In [41]:
lst[-3]

'tabutcu'

- A negative index accesses elements from the end of the list counting backwards.
- The last element in a non-empty list is lst[-1]

### Slicing a List

In [42]:
lst

['a', 'b', 'tabutcu', 'z', 'example']

In [43]:
lst[1:3]

['b', 'tabutcu']

In [44]:
lst[1:-1]

['b', 'tabutcu', 'z']

In [45]:
lst[0:3]

['a', 'b', 'tabutcu']

- By specifying indices, we can get a slice of a list.
- The return value is a new list, containing all the elements starting with the first slice index, up to but not including the second slice index. 
- The first slice index specifies the first element you want, and the second slice index specifies the first element you don't want. The return value is everything in between.

### Slicing Shorthand

In [46]:
lst

['a', 'b', 'tabutcu', 'z', 'example']

In [47]:
lst[:3]

['a', 'b', 'tabutcu']

In [48]:
lst[3:]

['z', 'example']

In [49]:
lst[:]

['a', 'b', 'tabutcu', 'z', 'example']

- If the first index is 0, you can simply leave it out. lst[:3] is same as lst[0:3]
- If the right index is the length of the list, you can simply leave it out. lst[3:] is same as lst[3:5], because the sample list has five elements. 
- If the both slice indices are 0, all elements of the list are included. However the return value is a new list containing all the same elements in the original list. lst[:] is a shorthand for making a complete copy of a list.

### Adding Elements to Lists

In [59]:
lst

['a', 'b', 'tabutcu', 'z', 'example']

In [60]:
lst.append("new")
lst

['a', 'b', 'tabutcu', 'z', 'example', 'new']

In [61]:
lst.insert(2, "new")
lst

['a', 'b', 'new', 'tabutcu', 'z', 'example', 'new']

In [63]:
lst.extend(["two", "elements"])
lst

['a', 'b', 'new', 'tabutcu', 'z', 'example', 'new', 'two', 'elements']

- append() method adds a single element to the end of the list
- insert() method inserts a single element into a list. The numeric argument that gets bumped out of position. 
- extend() method concatenates lists. extend() method is called with one argument which is a list.

#### The difference between extend() and append()

In [64]:
li = ['a', 'b', 'c']
li.extend(['d','e', 'f'])
li

['a', 'b', 'c', 'd', 'e', 'f']

In [65]:
len(li)

6

In [66]:
li[-1]

'f'

In [67]:
li = ['a', 'b', 'c']
li.append(['d','e','f'])
li

['a', 'b', 'c', ['d', 'e', 'f']]

In [68]:
len(li)

4

In [69]:
li[-1]

['d', 'e', 'f']

- extend() and append() methods look like the same, but in fact they are completely different. extend() takes a single argument which is always a list, and adds each of the element into the original list. 
- append() method takes a single argument which can be any data type, and simply adds it to the end of the list.

### Searching Lists

In [70]:
lst

['a', 'b', 'new', 'tabutcu', 'z', 'example', 'new', 'two', 'elements']

In [71]:
lst.index("example")

5

In [72]:
lst.index("new")

2

In [73]:
lst.index("c")

ValueError: 'c' is not in list

In [74]:
"c" in lst

False

- lst.index("example"): index finds the first occurrence of a value in the list and returns the index. 
- lst.index("new"): index finds the first occurrence of a value in the list. In this case "new" occurs twice in the list. lst[2] and lst[6], but index returns only the first index, 2. 
- If the value is not found in the list, Python raises an exception. 
- To test whether a value is in the list, us "in" which returns True if the value is found or False if it is not.

### Deleting List Elements

In [75]:
lst

['a', 'b', 'new', 'tabutcu', 'z', 'example', 'new', 'two', 'elements']

In [76]:
lst.remove("z")

In [77]:
lst

['a', 'b', 'new', 'tabutcu', 'example', 'new', 'two', 'elements']

In [78]:
lst.remove("new")
lst

['a', 'b', 'tabutcu', 'example', 'new', 'two', 'elements']

In [79]:
lst.remove("c")

ValueError: list.remove(x): x not in list

In [80]:
lst.pop()

'elements'

In [81]:
lst

['a', 'b', 'tabutcu', 'example', 'new', 'two']

- remove(), removes the first occurrence of a value from a list.
- lst.remove("new") in this case "new" is appeared twice, but we only removed the first occurrence.
- If the value is not found in the list, Python raises an exception. 
- pop() function removes the last element from the list, it returns the value of the element that is removed.

### Using List Operators

In [84]:
lst = ['a', 'b', 'tabutcu']
lst

['a', 'b', 'tabutcu']

In [86]:
lst = lst + ['example', 'new']

In [87]:
lst

['a', 'b', 'tabutcu', 'example', 'new']

In [88]:
lst += ['two']
lst

['a', 'b', 'tabutcu', 'example', 'new', 'two']

In [89]:
lst = [1,2] * 3
lst

[1, 2, 1, 2, 1, 2]

- Lists can be concatenated with + operator. list = list + otherList has the same result as list.extend(otherList). However + operator returns a new list as an output, whereas extend only alters an existing list. That means extend method is faster, especially for large lists.
- Python supports the += operator. lst += ['two'] is same as lst.extend(['two']).
- The \* operator works as repeater. lst = [1,2] * 3 is same as lst = [1,2] + [1,2] + [1,2], which concatenates the three lists into one.

### Further Reading on Lists

- How to Think Like a Computer Scientist: http://www.greenteapress.com/thinkpython/thinkCSpy/html/chap08.html
- Looping through Lists: https://www.safaribooksonline.com/library/view/python-cookbook/0596001673/ch01s15.html